@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;200;400;700&family=Roboto:wght@100;400;700&display=swap");

@font-face {
    font-family: "Plus";
    src: url(../public/fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusBold";
    src: url(../public/fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusMedium";
    src: url(../public/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusLight";
    src: url(../public/fonts/PlusJakartaSans-Light.ttf);
}

@font-face {
    font-family: "PlusExtraBold";
    src: url(../public/fonts/PlusJakartaSans-ExtraBold.ttf);
}